.sidebar {
  flex: 0 0 310px;
  padding: $padding;
  display: flex;
  flex-direction: column;
  gap: $gap;
  border-right: 1px solid $border-color;
  border-radius: $radius;
  backdrop-filter: blur(10px);
  justify-content: space-around;
  box-sizing: border-box;

  h2.temperature-big {
    font-weight: 300;
    font-size: 90px;
    margin: 0;
  }

  .city-title {
    text-transform: capitalize;
    color: $white-faded;
    letter-spacing: 2px;
  }

  .details {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: flex-end;
  }
}
