.sidebar {
  flex: 0 0 310px;
  padding: $padding;
  display: flex;
  flex-direction: column;
  gap: $gap;
  border-right: 1px solid $border-color;
  border-radius: $radius;
  backdrop-filter: blur(10px);
  justify-content: flex-start;
  box-sizing: border-box;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
  }

  .error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
  }
}
