.city-description {
  .city-description-heading {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: white;
  }

  p.city-description-paragraph {
    font-size: 12px;
    line-height: 15px;
  }
}
