.details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .details-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: $padding-small;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
