//colors
$primary-dark: #131212;
$secondary-dark: #3c3c3c;
$white: #fff;
$white-faded: rgba(255, 255, 255, 0.8);
$border-color: rgba(252, 252, 252, 0.11);
$text-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
$box-shadow: 0 14px 50px rgba(0, 0, 0, 0.4);
$transparent: transparent;

//font-family
$font-family: "Poppins", sans-serif;

//spacings
$padding: 3rem;
$padding-small: 1rem;
$gap: 1.5rem;
$radius: 15px;

//background
$bg-gradient: linear-gradient(135deg, $primary-dark, $secondary-dark);
$main-bg-color: rgba(255, 255, 255, 0.13);
