.forecast-content {
  display: grid;
  grid-template-columns: repeat(5, minmax(max-content, 1fr));
  gap: 10px;
  margin-top: 15px;
  overflow-x: auto;

  &-day {
    border: 1px solid #ffffff45;
    border-radius: 10px;
    padding: $padding-small;
    text-align: center;
    backdrop-filter: blur(4px);
    box-sizing: border-box;
  }
}
