.search-form-input {
  display: flex;
  border-bottom: 1px solid $border-color;
  padding-bottom: $padding-small;
  gap: $gap;

  input {
    background-color: transparent;
    border: 0;
    color: white;
  }

  input::placeholder {
    color: $white-faded;
  }

  input:focus {
    border: none;
    outline: none;
  }

  button.search-button {
    background-color: $transparent;
    border: 0;
  }
}
