.temperature-container {
  h3 {
    font-size: 90px;
    font-weight: 100;
  }

  .rough-details {
    display: flex;
    gap: 10px;
    align-content: center;
    align-items: center;

    p.feels-like {
      font-size: 40px;
      line-height: 1;
      font-weight: 200;
      margin: 0;
    }
    p.description {
      font-size: 13px;
      line-height: 1;
      margin: 0;
    }
  }
}
